<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luna.cache.mapper.DepartmentMapper">

    <resultMap type="com.luna.cache.entity.Department" id="DepartmentResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="superior" column="superior" jdbcType="INTEGER"/>
        <result property="levels" column="levels" jdbcType="INTEGER"/>
        <result property="orderNo" column="order_no" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table_field">
      id, name, superior, levels, order_no, create_time, last_update_time      
    </sql>

    <!--通过Id查询单个-->
    <select id="getById" resultMap="DepartmentResultMap" parameterType="java.lang.Integer">
        select
        <include refid="table_field"/>
        from orm_department
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="listByEntity" resultMap="DepartmentResultMap" parameterType="com.luna.cache.entity.Department">
        select
        <include refid="table_field"/>
        from orm_department
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="superior != null">
                and superior = #{superior,jdbcType=INTEGER}
            </if>
            <if test="levels != null">
                and levels = #{levels,jdbcType=INTEGER}
            </if>
            <if test="orderNo != null">
                and order_no = #{orderNo,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="lastUpdateTime != null">
                and last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="getByEntity" resultMap="DepartmentResultMap" parameterType="com.luna.cache.entity.Department">
        select
        <include refid="table_field"/>
        from orm_department
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="superior != null">
                and superior = #{superior,jdbcType=INTEGER}
            </if>
            <if test="levels != null">
                and levels = #{levels,jdbcType=INTEGER}
            </if>
            <if test="orderNo != null">
                and order_no = #{orderNo,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="lastUpdateTime != null">
                and last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="listByIds" resultMap="DepartmentResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from orm_department
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.luna.cache.entity.Department">
        insert into orm_department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="superior != null">
                superior,
            </if>
            <if test="levels != null">
                levels,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="superior != null">
                #{superior,jdbcType=INTEGER},
            </if>
            <if test="levels != null">
                #{levels,jdbcType=INTEGER},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into orm_department
        (id, name, superior, levels, order_no, create_time, last_update_time)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            (#{item.id,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, #{item.superior,jdbcType=INTEGER},
            #{item.levels,jdbcType=INTEGER}, #{item.orderNo,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP},
            #{item.lastUpdateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="com.luna.cache.entity.Department">
        update orm_department
        <set>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="superior != null">
                superior = #{superior,jdbcType=INTEGER},
            </if>
            <if test="levels != null">
                levels = #{levels,jdbcType=INTEGER},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update orm_department
        <set>
            <if test="where.name == null and set.name != null and set.name != ''">
                name = #{set.name,jdbcType=VARCHAR},
            </if>
            <if test="where.superior == null and set.superior != null">
                superior = #{set.superior,jdbcType=INTEGER},
            </if>
            <if test="where.levels == null and set.levels != null">
                levels = #{set.levels,jdbcType=INTEGER},
            </if>
            <if test="where.orderNo == null and set.orderNo != null">
                order_no = #{set.orderNo,jdbcType=INTEGER},
            </if>
            <if test="where.createTime == null and set.createTime != null">
                create_time = #{set.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="where.lastUpdateTime == null and set.lastUpdateTime != null">
                last_update_time = #{set.lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="where.id != null">
                and id = #{where.id,jdbcType=INTEGER}
            </if>
            <if test="where.name != null">
                and name = #{where.name,jdbcType=VARCHAR}
            </if>
            <if test="where.superior != null">
                and superior = #{where.superior,jdbcType=INTEGER}
            </if>
            <if test="where.levels != null">
                and levels = #{where.levels,jdbcType=INTEGER}
            </if>
            <if test="where.orderNo != null">
                and order_no = #{where.orderNo,jdbcType=INTEGER}
            </if>
            <if test="where.createTime != null">
                and create_time = #{where.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.lastUpdateTime != null">
                and last_update_time = #{where.lastUpdateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update orm_department
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="name = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.name}
                </foreach>
            </trim>
            <trim prefix="superior = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.superior}
                </foreach>
            </trim>
            <trim prefix="levels = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.levels}
                </foreach>
            </trim>
            <trim prefix="order_no = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.orderNo}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="last_update_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.lastUpdateTime}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from orm_department where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="com.luna.cache.entity.Department">
        delete from orm_department
        <where>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="superior != null">
                and superior = #{superior,jdbcType=INTEGER}
            </if>
            <if test="levels != null">
                and levels = #{levels,jdbcType=INTEGER}
            </if>
            <if test="orderNo != null">
                and order_no = #{orderNo,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="lastUpdateTime != null">
                and last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from orm_department where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(id) from orm_department
    </select>

    <select id="countByEntity" parameterType="com.luna.cache.entity.Department" resultType="int">
        select count(id) from orm_department
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="superior != null">
                and superior = #{superior,jdbcType=INTEGER}
            </if>
            <if test="levels != null">
                and levels = #{levels,jdbcType=INTEGER}
            </if>
            <if test="orderNo != null">
                and order_no = #{orderNo,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="lastUpdateTime != null">
                and last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>