<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Java-ES仿京东实战</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body class="pg">
    <div class="page" id="app">
        <div id="mallPage" class=" mallist tmall- page-not-market ">

            <!-- 头部搜索 -->
            <div id="header" class=" header-list-app">
                <div class="headerLayout">
                    <div class="headerCon ">
                        <!-- Logo-->
                        <h1 id="mallLogo">
                            <img th:src="@{/images/jdlogo.png}" alt="">
                        </h1>

                        <div class="header-extra">

                            <!--搜索-->
                            <div id="mallSearch" class="mall-search">
                                <form name="searchTop" class="mallSearch-form clearfix">
                                    <fieldset>
                                        <legend>天猫搜索</legend>
                                        <div class="mallSearch-input clearfix">
                                            <div class="s-combobox" id="s-combobox-685">
                                                <div class="s-combobox-input-wrap">
                                                    <input v-model="keyValue" type="text" autocomplete="off" value="dd"
                                                           id="mq" class="s-combobox-input" aria-haspopup="true">
                                                </div>
                                            </div>
                                            <button type="submit" @click.prevent="searchKey" id="searchbtn">搜索</button>
                                        </div>
                                    </fieldset>
                                </form>
                                <ul class="relKeyTop">
                                    <li><a>Java</a></li>
                                    <li><a>前端</a></li>
                                    <li><a>Linux</a></li>
                                    <li><a>大数据</a></li>
                                    <li><a>狂神聊理财</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 商品详情页面 -->
            <div id="content">
                <div class="main">
                    <!-- 品牌分类 -->
                    <form class="navAttrsForm">
                        <div class="attrs j_NavAttrs" style="display:block">
                            <div class="brandAttr j_nav_brand">
                                <div class="j_Brand attr">
                                    <div class="attrKey">
                                        品牌
                                    </div>
                                    <div class="attrValues">
                                        <ul class="av-collapse row-2">
                                            <li><a href="#"> </a></li>
                                            <li><a href="#"> Java </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- 排序规则 -->
                    <div class="filter clearfix">
                        <a class="fSort fSort-cur">综合<i class="f-ico-arrow-d"></i></a>
                        <a class="fSort">人气<i class="f-ico-arrow-d"></i></a>
                        <a class="fSort">新品<i class="f-ico-arrow-d"></i></a>
                        <a class="fSort">销量<i class="f-ico-arrow-d"></i></a>
                        <a class="fSort">价格<i class="f-ico-triangle-mt"></i><i class="f-ico-triangle-mb"></i></a>
                    </div>

                    <!-- 商品详情 -->
                    <div class="view grid-nosku">

                        <div class="product" V-for="result in results">
                            <div class="product-iWrap">
                                <!--商品封面-->
                                <div class="productImg-wrap">
                                    <a class="productImg">
                                        <img :src="result.img">
                                    </a>
                                </div>
                                <!--价格-->
                                <p class="productPrice">
                                    <em>{{result.price}}</em>
                                </p>
                                <!--标题-->
                                <p class="productTitle">
                                    <a V-html="result.title"></a>
                                </p>
                                <!-- 店铺名 -->
                                <div class="productShop">
                                    <span>店铺： Java </span>
                                </div>
                                <!-- 成交信息 -->
                                <p class="productStatus">
                                    <span>月成交<em>999笔</em></span>
                                    <span>评价 <a>3</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    前端集成Vue, 实现前后端分离-->
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                keyValue: '', // 关键字
                results: [] // 结果
            },
            methods: {
                searchKey() {
                    var keyValue = this.keyValue;
                    console.log(keyValue);
                    // 对接后端接口
                    // axios.get('jd/search/title/' + keyValue + "/0/20").then(response => {
                    //     // console.log(response.data);
                    //     this.results = response.data.data;
                    // });
                    let data = {"keyWord": "title", "keyValue": keyValue}
                    axios.post(`jd/search/0/20`, data)
                        .then(res => {
                            console.log('res=>', res);
                            this.results = res.data.data;
                        });
                }
            }
        })
    </script>
</body>

</html>